*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost-SemiBold";
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

nav{
    padding: 50px 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    text-decoration: none;
    font-weight: 400;
    color: white;
}

.logo{
    width: 400px;
    height: auto;
}

.btn1{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #F0F4FF;
    background-color: #4671F1;
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #F0F4FF;
    background-color: #4671F1;
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.content{
    margin-top: 10%;
    max-width: 1000px;
    padding-left: 15%;
}

.content h1{
    font-size: 50px;
}

.content p{
    margin: 10px 0 30px;
    animation-delay: 0.5s;
    font-family: "Jost-Light";
}



.content .btn{
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 1s;
}

.btn:hover{
    border-top-right-radius: 30px;
}

.btn1:hover{
    border-top-right-radius: 30px;
}



.feature-img{
    width: 700px;
    position: absolute;
    top: 250px;
    bottom: 300px;
    right: 15%;
}

.feature-img.anim{
    animation-delay: 1.5s;
}

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


.Contact{
    background-color: #4671F1;
    padding-bottom: 50px;
}

.Contact h1{
    color: white;
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 60px;
}

.Contact input,
.Contact textarea {
    background-color: white;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    border: 2px solid white; /* Set border style explicitly */
    margin-bottom: 20px;
}

input:focus-within,
textarea:focus-within {
    outline: none;
    border-color: black;
    border-width: 3px;
}

 button{
    display: inline-block;
    text-decoration: none;
    padding: 10px 18px;
    color: #4671F1;
    background-color: white;
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    border: none;
    transition: 0.5s;
    text-align: center;
    display: flex;
    margin: auto;
}

.Contact .button{
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 1s;
}

button:hover{
    border-top-right-radius: 30px;
    cursor: pointer;
}

.footer{
    text-align: center;
    font-size: 8px;
    background-color: #4671F1;
    color: white;
}

@font-face {
    font-family: 'Jost-SemiBold';
    src: url('Jost-SemiBold.ttf') format('truetype');
}

body {
    font-family: 'Jost-SemiBold', sans-serif;
}

@font-face {
    font-family: 'Jost-Light';
    src: url('Jost-Light.ttf') format('truetype');
}

body {
    font-family: 'Jost-Light', sans-serif;
}

@media screen and (max-width: 1450px) {
    .content .feature-img.anim {
      width: 50%; /* Adjust the width of the image */
      margin: 20px auto; /* Center the image horizontally and add space around it */
      display: block; /* Ensure it's a block-level element */
      position: static;
    }
  
    .content .btn {
      margin-bottom: 20px; /* Add some space between the button and the image */
    }
  }

@media screen and (max-width: 768px) {
    .logo{
        width: 300px;
        height: auto;
    }
    .btn1{
        display: none;
    }
    
    nav{
        padding: 50px 40px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .content{
        margin-top: 0;
    }

    .content h1{
        font-size: 40px;
        padding-right: 20px;
    }

    .content p{
        padding-right: 70px;
    }

    .content .feature-img.anim {
        width: 75%; /* Adjust the width of the image */
        margin: 20px 5px; /* Center the image horizontally and add space around it */
        display: block; /* Ensure it's a block-level element */
        position: static;
      }

    .Contact h1{
        font-size: 40px;
    }
}
